@import "tailwindcss";

@layer components {
  .btn-primary {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(191 219 254);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(15 23 42);
    color: white;
  }
}
