<nav class="bg-um-blue">
  <div class="container mx-auto px-4 py-2">
    <div id="LSAlogo" class="flex items-center shrink">
      <%= link_to root_path, class: "mr-2" do %>
        <%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo', class: 'h-[60px] w-auto' %>
      <% end %>
      <%= link_to root_path, class: "relative text-white text-4xl font-light uppercase font-['Noto_Sans'] leading-none" do %>
        Student Visit
      <% end %>
    </div>
  </div>
</nav>