<div>
  <h1 class="font-bold text-4xl">Appointments#by_student</h1>
  <% @appointments.each do |appointment| %>
    <p><%= @student.email_address %></p>
    <p><%= appointment.vip.display_name %></p>
  <% end %>
</div>
